@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 105%;
}

body {
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  height: 100svh;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}

.game-board {
  max-height: 100%;
}

.game-board button {
  font-family: "Outfit", sans-serif;
  font-size: 2rem;
  font-weight: 600;
  margin: .1rem;
  height: 80px;
  width: 80px;
  border-radius: 8px;
  border: 2px solid #111111;
  background-color: #161616;
  color: rgba(255, 255, 255, 0.87);
  cursor: pointer;
  transition: border-color 0.25s;
}

.game-board button:hover {
  border-color: #646cff;
}

.title {
  position: absolute;
  min-width: auto;
  width: auto;
  top: 8%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 2rem;
  color: rgba(255, 255, 255, 1);
  font-weight: bold;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.9),
               1px 2px 1px rgba(0, 0, 0, 0.9),
               1px 3px 1px rgba(0, 0, 0, 0.9),
               1px 4px 1px rgba(0, 0, 0, 0.9),
               1px 5px 1px rgba(0, 0, 0, 0.9),
               1px 6px 1px rgba(0, 0, 0, 0.9),
               1px 7px 1px rgba(0, 0, 0, 0.9),
               1px 8px 20px rgba(0, 0, 0, 0.9);
}

.game-status {
  position: relative;
  bottom: 40px;
  left: 0px;
  font-size: 1.4rem;
  font-weight: 600;
  text-decoration: underline;
  color: rgba(255, 255, 255, 0.9);
  text-shadow: 1px 5px 10px rgba(0, 0, 0, 0.9);
  text-align: center;
  animation: opcty 3s forwards;
}

.timer {
  position: absolute;
  text-align: center;
  font-size: 16px;
  bottom: 125px;
  left: 50%;
  transform: translateX(-50%);
  font-weight: 600;
  opacity: 0.9;
  animation: timer 3s forwards;
}

@keyframes timer {
  from {
    bottom: 40px;
    opacity: 0;
  }
  to {
    bottom: 125px;
    opacity: 1;
  }
}

@keyframes opcty {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.popup {
  font-size: 2.2rem;
  text-align: center;
}

.popup button {
  padding: 10px 18px;
  border-radius: 8px;
  font-size: 1.1rem;
  margin-top: 30px;
  color: rgba(255, 255, 255, 0.8);
  border: 1px solid transparent;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

.popup button:hover {
  border-color: #646cff;
}

.popup p {
  position: relative;
  animation: fromdown 0.9s forwards;
}

@keyframes fromdown {
  0% {
    font-size: 0.1rem;
  }
  10% {
    font-size: 5rem;
  }
  18% {
    font-size: 6rem;
  }
  100% {
    font-size: 2.2rem;
  }
}

::-webkit-scrollbar {
  display: none;
}

.btn1 {
  position: relative;
  animation: fromTopLeft 1s forwards;
}

@keyframes fromTopLeft {
  from {
    transform: translate(-190%,-190%);
    opacity: .2;
  }
  to {
    transform: translate(0,0);
  }
}

.btn2 {
  position: relative;
  animation: fromTop 1s forwards;
}

@keyframes fromTop {
  from {
    top: -200px;
    opacity: .2;
    z-index: -1;
  }
  to {
    top: 0;
    z-index: 1;
  }
}

.btn3 {
  position: relative;
  animation: fromTopRight 1s forwards;
}

@keyframes fromTopRight {
  from {
    transform: translate(190%,-190%);
    opacity: .2;
  }
  to {
    transform: translate(0,0);
  }
}

.btn4 {
  position: relative;
  animation: fromLeft 1s forwards;
}

@keyframes fromLeft {
  from {
    left: -200px;
    opacity: .2;
  }
  to {
    left: 0;
  }
}


.btn5 {
  position: relative;
  animation: fromCenter 1s forwards;
}

@keyframes fromCenter {
  from {
    transform: scale(0);
    opacity: .2;
  }
  to {
    transform: scale(1);
  }
}

.btn6 {
  position: relative;
  animation: fromRight 1s forwards;
}

@keyframes fromRight {
  from {
    right: -200px;
    opacity: .2;
  }
  to {
    right: 0;
  }
}

.btn7 {
  position: relative;
  animation: fromBottomLeft 1s forwards;
}

@keyframes fromBottomLeft {
  from {
    transform: translate(-190%,190%);
    opacity: .2;
  }
  to {
    transform: translate(0,0);
  }
}

.btn8 {
  position: relative;
  animation: fromBottom 1s forwards;
}

@keyframes fromBottom {
  from {
    bottom: -200px;
    opacity: .2;
  }
  to {
    bottom: 0;
  }
}

.btn9 {
  position: relative;
  animation: fromBottomRight 1s forwards;
}

@keyframes fromBottomRight {
  from {
    transform: translate(190%,190%);
    opacity: .2;
  }
  to {
    transform: translate(0,0);
  }
}

.x-score, .y-score {
  position: absolute;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 35px;
  animation: opcty 3s forwards;
}

.x-score span, .y-score span {
  text-align: center;
  display: block;
  color: #c1c4ff;
}

.x-score {
  left: 16%;
  top: 40%;
}

.y-score {
  right: 16%;
  top: 40%;
}

@media(max-width: 768px) {
  .x-score, .y-score {
    display: none;
  }
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  min-width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  background-color: #1b1b1b;
  box-shadow: 0px -5px 10px rgba(0, 0, 0, .55);
  color: rgba(255, 255, 255, 0.7);
}

footer .left, footer .right {
  padding: 15px 30px;
}

footer span {
  font-weight: bolder;
  color: rgba(255, 255, 255, 0.9);
}

@media(max-width: 600px) {
  footer {
    font-size: 70%;
  }
}

@media(max-width: 685px) {
  .title {
    font-size: 1.5rem;
  }
}

@media(max-width: 510px) {
  .title {
    font-size: 1.2rem;
  }
}

@media(max-width: 405px) {
  .title {
    font-size: 1rem;
  }
}



@media(max-width: 550px) {
  footer span {
    display: block;
  }
}
